// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.images_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // border: 2px solid red;
  width: 100vw;
}

.images {
  // border: 2px solid red;
  padding: 10px 20px;
}




